# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
venv/
.env/


twiliotest.py