# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
venv/
.env/


twiliotest.py

multitoolagent\client_secret_1019332765714-5pdclfa67mhaffe6uvf6rej440v05s7v.apps.googleusercontent.com.json
multitoolagent\sub_agents\ngo_alerts_agent\kisaansaathi-b2149-firebase-adminsdk-fbsvc-721c59646c.json

